@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  --back-color:#fff;
  --card-color:#eee;
  --text-color:#111;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--back-color);
  color: var(--text-color);
}
[data-tema="oscuro"]{
  --back-color:#002752;
  --card-color:#003566;
  --text-color:#fff;
}